@model List<Category>

<nav class="navbar navbar-inverse">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @foreach (Category category in Model)
                {
                    @: <li class="dropdown">
                            @:<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    @category.Name
                                    @: <span class="caret"></span>
                            @:</a>
                            @: <ul class="dropdown-menu">
                               @: <li>
                                    @foreach (Topic topic in category.Topics)
                                    {
                                        @:<a href="/Posts/@topic.Category.Name/@topic.Name">
                                            @topic.Name
                                        @:</a>
                                    }
                                @: </li>
                            @: </ul>
                    @: </li>
                }
            </ul>
        </div>
</nav>

