@model IEnumerable<Forum.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    <form action="/posts/Create" method="post">
        <textarea></textarea><br/>
        <input type="submit" value="Create" />
    </form>
</div>

@foreach (var item in Model)
{
    @item.CreateDate 
    @: <br />
    @item.Details
    @: <br /><br />
}