@model IEnumerable<Forum.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-controller="Posts" asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
    @item.CreateDate 
    @: <br />
    @item.Details
    @: <br /><br />
}