@model IEnumerable<Forum.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-controller="Posts" asp-action="Create" sp-route-id="@ViewBag.Topic">Create New</a>
</p>

@foreach (var item in Model)
{
    @item.CreateDate
    @: <br />
    @Html.ActionLink(item.Details, "Details", "Posts", new { id = item.PostId }, null)

    <br /><br />
}